/* CSS Reset */

body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Jua", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
}

.l-row:after,
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.header {
  padding: 1rem 5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

header h1 {
  text-indent: -9999px;
}

.header__inside {
  position: relative;
}

.header__logo {
  max-width: 200px;
  font-size: 40px;
  float: left;
  overflow: hidden;
}

.header__menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.overlay {
  position: fixed;
  background: rgba(51, 55, 69, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
  height: 100%;
}

.overlay nav {
  position: relative;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  position: relative;
  opacity: 0;
  margin-bottom: 3rem;
}

.overlay ul li a {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

.overlay ul li a:hover,
.overlay ul li a:focus,
.overlay ul li a:active {
  color: #ea2e49;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
  color: #ea2e49;
}

.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.overlay__closeBtn {
  position: absolute;
  z-index: 10001;
  top: -2rem;
  right: 0;
  margin-right: 10rem;
  font-size: 10rem;
  color: white;
  transition: color 0.5s;
}
.overlay__closeBtn:hover {
  color: #ea2e49;
}
/* menuicon */

input[id="menuicon"] {
  display: none;
}

input[id="menuicon"] + label {
  display: block;
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

input[id="menuicon"] + label span {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  position: absolute;
  transition: all 0.35s;
}

input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0;
}

.menu-light {
  background-color: white;
}
.menu-dark {
  background-color: black;
}

blockquote {
  font-weight: 100;
  font-size: 1.5rem;
  font-style: italic;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 2.2rem auto 0;
  padding: 0.5rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #f1efe6;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  left: -5rem;
  top: -2rem;
}

blockquote:after {
  content: "”";
  right: -2rem;
  bottom: 1rem;
}

.l-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
}

.l-row {
  margin: 0 -1rem;
}

.l-col {
  float: left;
  padding: 0 1rem;
}

.l-col-1-5 {
  width: 20%;
}
