.main__photo {
  margin-top: 7vh;
}

.section_photo {
  position: absolute;
  width: 80vw;
  left: 10vw;
}

.title {
  text-align: center;
  padding: 5rem 0;
}

.title h2 {
  font-size: 7rem;
  font-family: "Rochester", cursive;
}
.gutter-sizer {
  width: 1rem;
}
.grid-sizer,
.grid-item {
  width: calc((100% - 1rem) / 2);
}
.grid-item {
  float: left;
  margin-bottom: 1rem;
}

.placeholder {
  transform: scale(0);
}

.placeholder--scale {
  animation: show 0.5s both ease-in-out;
}

@keyframes show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .main__photo {
    margin-top: 0;
  }
  .grid__sizer,
  .grid__item {
    width: 100%;
  }
}
