.main__photo {
  margin-top: 8vh;
}

.section_photo {
  position: absolute;
  width: 80vw;
  left: 10vw;
}

.title {
  text-align: center;
  padding: 5rem 0;
}

.title h2 {
  font-size: 7rem;
  font-family: "Rochester", cursive;
}
.gutter-sizer {
  width: 1rem;
}
.grid-sizer,
.grid-item {
  width: calc((100% - 1rem) / 2);
}
.grid-item {
  float: left;
  margin-bottom: 1rem;
}
