.video_main {
  height: 100vh;
  position: relative;
}

.carousel {
  position: relative;
  height: 90vh;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__contents {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  opacity: 1;
}

.video {
  width: 60vw;
  position: relative;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0;
}

.video__title {
  position: absolute;
  font-size: 0;
  font-family: "Rochester", serif;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  color: crimson;
  z-index: 3;
  white-space: nowrap;
  opacity: 0;
}

.selected .video__title {
  animation: fadeInTitle 1s forwards;
}

.video__desc {
  position: absolute;
  white-space: nowrap;
  font-size: 5rem;
  font-family: "Jua", serif;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  z-index: 3;
  white-space: nowrap;
  opacity: 0;
}

.selected .video__title {
  animation: fadeInDesc 1s forwards;
}

.video__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.5s;
}

.video:hover .video__cover {
  opacity: 0;
  z-index: -1;
}
.video1 {
  background-image: url(../images/cover.jpeg);
}

.video__player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}
.carousel__contents.hide {
  display: none;
}

.carousel__contents.prev {
  z-index: 5;
  left: 30%;
  opacity: 0.7;
  transform: translate(-140%, -60%);
}

.carousel__contents.prev .video {
  width: 40vw;
}
.carousel__contents.selected {
  z-index: 10;
  left: 50%;
}

.carousel__contents.next {
  z-index: 5;
  left: 70%;
  opacity: 0.7;
  transform: translate(40%, -60%);
}
.carousel__contents.next .video {
  width: 40vw;
}
/* Animation */

@keyframes fadeInTitle {
  from {
    opacity: 0;
    bottom: -30%;
    font-size: 0;
  }

  to {
    opacity: 1;
    bottom: -10%;
    font-size: 10rem;
  }
}

@keyframes fadeInDesc {
  from {
    opacity: 0;
    bottom: -40%;
  }

  to {
    opacity: 1;
    bottom: -20%;
  }
}
